<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>WineSmiths</title>
    <link rel="stylesheet" href="/theme.css">
  </head>
  <body class="bg-dark">
    <noscript>
      <strong>We're sorry but WineSmiths doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="bg-white">
      <div id="app"></div>
      <!-- built files will be auto injected -->
    </div>
  </body>
</html>
