<template>
  <div class="forgotten-password">
    <div class="row mb-3 justify-content-center">
      <div class="col-12 col-md-6 z-index-raise">
        <div class="alert alert-light">
          <h3 class="alert-heading text-center">Forgotten Your Password?</h3>
          <p>Please enter the email address for your account. An email detailing instructions for setting a new password for your account.</p>
          <form v-on:submit.prevent="onSend">
            <div class="form-group">
              <label for="email">Email</label>
              <input v-model.trim="email" type="email" class="form-control" id="email" ref="email" required>
            </div>
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
              <span class="font-weight-bold text-uppercase">Send</span>
            </button>
            <hr>
            <p class="text-center">Not a Member?</p>
            <router-link to="join" class="alert-link d-block text-center">
              <span class="font-weight-bold text-uppercase">Join Now</span>
            </router-link>
          </form>
        </div>
        <router-link v-once v-bind:to="backUrl" class="d-block text-center">
          <span class="font-weight-bold text-uppercase">Back</span>
        </router-link>
      </div>
      <div class="modal"></div>
    </div>
  </div>
</template>

<script lang="ts" src="./ForgottenPassword.component.ts"></script>
<style lang="scss" scoped>
  .forgotten-password {
    .modal {
      display: block;
      background-color: #fff;
      opacity: 0.75;
    }
    .z-index-raise {
      z-index: 1200;
    }
  }
</style>
