<template>
  <div class="home py-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Current Seed: {{ currentSeed }}</p>
          <a class="btn btn-outline-primary text-uppercase font-weight-bold" href="#" v-on:click.prevent="onFullScreenClick">Launch</a>
        </div>
      </div>
    </div>
    <div class="position-relative mx-auto my-3" ref="gameContainer" v-bind:style="canvasContainerDimensions" v-show="isFullScreen">
      <ul class="nav bg-light border-top border-left border-right border-dark shadow-sm position-absolute">
        <li class="nav-item">
          <a class="nav-link text-uppercase font-weight-bold" href="#" v-on:click.prevent="onRotateClick">Rotate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase font-weight-bold" href="#" v-on:click.prevent="onGenerateClick">Generate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase font-weight-bold" href="#" v-on:click.prevent="onSaveClick">Save</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase font-weight-bold" href="#" v-on:click.prevent="onFullScreenClick">Close</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" v-on:click.prevent>Dollars: {{ currentDollars }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" v-on:click.prevent>Coins: {{ currentCoins }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" v-on:click.prevent>Grape Yield: {{ currentGrapeYield }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize" href="#" v-on:click.prevent>{{ monthNames[currentMonth] }}</a>
        </li>
      </ul>
      <canvas class="border border-dark" id="canvas" ref="canvas" v-on:click="onCanvasClick" v-on:mousemove="onCanvasMouseMove"></canvas>
      <ul class="nav bg-light border-bottom border-left border-right border-dark shadow-sm position-absolute">
        <li class="nav-item" v-for="building in buildings" v-bind:key="building">
          <a class="nav-link text-uppercase font-weight-bold" href="#" v-on:click.prevent="onBuildingClick(building)">{{ building }}</a>
        </li>
      </ul>
      <transition name="fade">
        <div class="alert-container m-3 position-absolute" v-if="alertMessages.length">
          <div class="alert alert-primary-variant shadow-sm" role="alert" v-for="alertMessage in alertMessages" v-bind:key="alertMessage">
            {{ alertMessage }}
          </div>
        </div>
      </transition>
      <transition name="fade">
        <div class="canvas-grey-out bg-dark position-absolute" v-if="currentTile" v-on:click="onCanvasGreyOutClick"></div>
      </transition>
      <transition name="fade">
        <div class="border border-dark bg-light p-5 position-absolute text-left" v-if="currentTile" v-bind:style="panelDimensions">
          <div v-if="currentTile.isWinery">
            <h4>Winery {{ currentTile.dxdy }}</h4>
            <form v-on:submit.prevent="onTileFormSubmit">
              <div class="form-group">
                <label for="processGrapes">Process Grapes</label>
                <input type="number" class="form-control" v-bind:value="currentGrapeYield" min="0" v-bind:max="currentGrapeYield" v-bind:disabled="currentGrapeYield === 0"/>
              </div>
              <p class="text-danger" v-show="currentGrapeYield === 0">You have no grapes to process.</p>
              <button type="submit" class="btn btn-block btn-primary">Done</button>
            </form>
          </div>
          <div v-else>
            <h4>Tile {{ currentTile.dxdy }}</h4>
            <form v-on:submit.prevent="onTileFormSubmit">
              <div class="form-group" v-if="!currentTile.isForested">
                <label for="terrainType">Terrain Type</label>
                <select id="terrainType" class="form-control text-capitalize" v-model.number="currentTile.terrainType">
                  <option class="text-capitalize" v-for="(terrainType, index) in terrainTypes" v-bind:key="terrainType" v-bind:value="index">{{ terrainType }}</option>
                </select>
              </div>
              <div class="form-group" v-if="currentTile.terrainType > 0">
                <label for="elevation">Elevation</label>
                <select id="elevation" class="form-control text-capitalize" v-model.number="currentTile.elevation">
                  <option class="text-capitalize" v-for="elevation in [0, 1, 2]" v-bind:key="elevation" v-bind:value="elevation">{{ elevation }}</option>
                </select>
              </div>
              <div class="form-group" v-if="currentTile.terrainType > 1 && !currentTile.isForested">
                <label for="grape">Grape Variety</label>
                <select id="grape" class="form-control text-capitalize" v-model.number="currentTile.grapeVariety">
                  <option value="0">None</option>
                  <option class="text-capitalize" v-for="(grapeVariety, index) in grapeVarieties" v-bind:key="index" v-bind:value="index + 1">
                    {{ grapeVariety.name }} - {{ grapeVariety.price }} coins
                  </option>
                </select>
              </div>
              <button type="submit" class="btn btn-block btn-primary">Done</button>
            </form>
          </div>
          <hr class="border-dark border-top"/>
        </div>
      </transition>
    </div>
  </div>
</template>

<script lang="ts" src="./Home.component.ts"></script>
<style lang="scss">
  ul.nav.border-top {
    left: 0;
    right: -2px;
  }
  ul.nav.border-bottom {
    left: 0;
    right: -2px;
    bottom: -2px;
  }
  div.alert-container {
    left: 0;
    top: 40px;
  }
  .canvas-grey-out {
    left: 0;
    top: 0;
    right: 0;
    bottom: -2px;
    z-index: 900;
    opacity: 0.5;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>
