<template>
  <div class="log-in">
    <div class="row mb-3 justify-content-center">
      <div class="col-12 col-md-6 z-index-raise">
        <div class="alert alert-light">
          <h3 class="alert-heading text-center">Welcome Back</h3>
          <form v-on:submit.prevent="onLogIn">
            <div class="form-group">
              <label for="email">Email</label>
              <input v-model.trim="email" type="text" class="form-control" id="email" ref="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input v-model.trim="password" type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-lg btn-block" v-bind:class="buttonClass">
              <span class="font-weight-bold text-uppercase">{{ buttonText }}</span>
            </button>
            <router-link to="forgotten-password" class="alert-link d-block mt-3 text-center">
              <span class="font-weight-bold">I've Forgotten My Password</span>
            </router-link>
            <hr/>
            <p class="text-center">Not a Member?</p>
            <router-link to="join" class="alert-link d-block text-center">
              <span class="font-weight-bold text-uppercase">Join Now</span>
            </router-link>
          </form>
        </div>
        <router-link v-once v-bind:to="backUrl" class="d-block text-center">
          <span class="font-weight-bold text-uppercase">Back</span>
        </router-link>
      </div>
      <div class="modal"></div>
    </div>
  </div>
</template>

<script lang="ts" src="./LogIn.component.ts"></script>
<style lang="scss" scoped>
  .log-in {
    .modal {
      display: block;
      background-color: #fff;
      opacity: 0.75;
    }
    .z-index-raise {
      z-index: 1200;
    }
  }
</style>
