<template>
  <div class="log-out">
    <div class="row mb-3 justify-content-center">
      <div class="col-12 col-md-6 alert alert-warning text-center" role="alert">
        <h2 class="alert-heading">Come Back Soon!</h2>
        <h3 class="alert-heading text-muted">You are now being logged out</h3>
        <div class="progress my-3">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
        <p>You will shortly be redirected back to home...</p>
        <hr/>
        <router-link v-once v-bind:to="backUrl" class="alert-link">
          <span class="text-bold text-uppercase">
            Back
          </span>
        </router-link>
      </div>
    </div>
    <div class="modal"></div>
  </div>
</template>

<script lang="ts" src="./LogOut.component.ts"></script>
<style lang="scss" scoped>
  .log-out {
    .modal {
      display: block;
      background-color: #fff;
      opacity: 0.75;
    }
    .alert {
      z-index: 1200;
    }
  }
</style>
