<template>
  <div class="page-not-found">
    <div class="row mb-3 justify-content-center text-center">
      <div class="col-12 col-md-6">
        <h2 class="my-4">Oh No!</h2>
        <h6 class="mb-3">The requested page could not be found.</h6>
        <router-link to="/" class="">
          <span class="font-weight-bold text-uppercase">Home</span>
        </router-link>
      </div>
    </div>
    <hr/>
  </div>
</template>

<script lang="ts" src="./PageNotFound.component.ts"></script>
