<template>
  <footer>
    <div class="bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 py-5 my-0">
            <h5 class="text-light">WineSmiths</h5>
            <ul class="list-unstyled">
              <li><router-link to="/" class="text-light">Home</router-link></li>
              <li v-for="product in products" v-bind:key="product.name">
                <a v-bind:href="product.href" class="text-light">{{ product.name }}</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-6 py-5 my-0" v-if="isAuthenticated">
            <h5 class="text-light">Members</h5>
            <ul class="list-unstyled">
              <li><router-link to="/log-out" class="text-light">Log Out</router-link></li>
            </ul>
          </div>
          <div class="col-12 col-md-6 py-5 my-0" v-if="!isAuthenticated">
            <h5 class="text-light">Members</h5>
            <ul class="list-unstyled">
              <li><router-link to="/log-in" class="text-light">Log In</router-link></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-dark pt-3 my-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="text-light small">&copy; Copyright 2020 Smith Berry Holdings Ltd. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script lang="ts" src="./Footer.component.ts"></script>
