<template>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary elevate">
      <router-link to="/" class="navbar-brand text-uppercase">WineSmiths</router-link>
      <button class="navbar-toggler border-0" type="button" v-on:click="onCollapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas-collapse navbar-collapse" id="navbarNav" v-bind:class="{ open: !isCollapsed }">
        <ul class="navbar-nav">
          <li v-for="product in products" v-bind:key="product.name" class="nav-item">
            <a v-bind:href="product.href" class="nav-link text-uppercase">{{ product.name }}</a>
          </li>
        </ul>
        <hr class="border-top border-secondary-variant my-2">
        <span class="nav-text text-light ml-auto py-2 d-block" v-if="isAuthenticated">
          {{ welcomeMessage }}
        </span>
        <ul class="navbar-nav" v-if="isAuthenticated">
          <li class="nav-item">
            <router-link to="/log-out" class="nav-link text-uppercase">Log Out</router-link>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" v-if="!isAuthenticated">
          <li class="nav-item">
            <router-link to="/log-in" class="nav-link text-uppercase">Log In</router-link>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script lang="ts" src="./NavBar.component.ts"></script>
